

  @media only screen and (max-width: 767px){
    :root{
      --section--radius: 2.4rem;
    }
  }

  /* ///////////////////// START OF GLOBAL EDITS ///////////////////// */
  main:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }

  html{
    font-size: 62.5%;
  }

  html, body {
    overscroll-behavior: none;
  }

  /* --- Font Smoothing --- */
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  /* Make sure containers never lose their center alignment*/
  .container-medium, .container-small, .container-large {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  /* --- Links --- */
  [link-icon],
  [link-image],
  .link-line{
    transition: all 350ms;
  }

  a:hover [link-icon="arrow"]{
    transform: translateX(0.25rem);
  }
  a:hover [link-icon="arrow-reverse"]{
    transform: translateX(-0.25rem);
  }
  a:hover [link-icon="external"]{
    transform: translate(0.25rem, -0.25rem);
  }
  a:hover .link-line{
    transform: scaleX(1);
  }
  :is(a,[hero-video-box]):hover [link-image]{
    transform: scale(1.05);
  }
  a:hover .button_arrow-tail{
    width: 10px;
  }
  a:hover .button_arrow{
    opacity: 0.8;
  }
  a .button_arrow-tail{
    width: 0;
  }

  .button.is-secondary .button_arrow{
    color: var(--content--secondary)
  }


  /* Visuals */
  [class$="_visual"],
  [class*="_visual "]{
    position: relative;
    overflow: hidden;
  }

  [class$="_visual"] > :is(div,p,a,ul),
  [class*="_visual "] > :is(div,p,a,ul){
    z-index: 2;
  }

  /* --- Rich Text --- */
  /* Get rid of top margin on first element in any rich text element */
  .w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
    margin-top: 0 !important;
  }

  /* Get rid of bottom margin on last element in any rich text element */
  .w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0 !important;
  }
  .text-rich-text li::marker{
    color: #2664FF !important;
  }

  /* --- Inherit links styling --- */
  a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
  }

  /* --- Prevent --- */
  /* Prevent all click and hover interaction with an element */
  .pointer-events-off {
    pointer-events: none;
  }

  /* Enables all click and hover interaction with an element */
  .pointer-events-on {
    pointer-events: auto;
  }

  /*Apply "..." after 3 lines of text */
  .text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  /* Apply "..." after 2 lines of text */
  .text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  /* Apply "..." at 100% width */
  .truncate-width { 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  /* Removes native scrollbar */
  [no-scrollbar] {
    -ms-overflow-style: none;  
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;  
  }

  [no-scrollbar]::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  /* Adds inline flex display */
  .display-inlineflex {
    display: inline-flex;
  }

  /* --- These classes are never overwritten --- */
  .hide {
    display: none !important;
  }

  /* --- section --- */
  section{
    position: relative;
    z-index: 1;
  }
  @media only screen and (min-width: 992px){
    section:not([section-full]) {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  [section-border]{
    margin-top: var(--section--overlap);
    margin-bottom: var(--section--overlap);
    border-radius: var(--section--radius);
    z-index: 2 !important;
  }
  [section-border="bottom"]{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  [section-border="top"]{
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media screen and (max-width: 991px), 
    @media screen and (max-width: 767px), 
    @media screen and (max-width: 479px){
      .hide, .hide-tablet{
        display: none !important;
      }
  }

  @media screen and (max-width: 767px){
    .hide-mobile-landscape{
      display: none !important;
    }
  }

  @media screen and (max-width: 479px){
    .hide-mobile{
      display: none !important;
    }
  }

  .text-rich-text_inherit *:not(strong){
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    letter-spacing: inherit;
  }

  /* ///////////////////// END OF GLOBAL EDITS ///////////////////// */

  /* ///////////////////// START OF SPACINGS ///////////////////// */
  .margin-0 {
    margin: 0rem !important;
  }

  .padding-0 {
    padding: 0rem !important;
  }

  .spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
  }

  .margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
  }

  .margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
  }

  .margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  /* ///////////////////// END OF SPACINGS ///////////////////// */

  /* ///////////////////// ELEMENTS ///////////////////// */
  audio, canvas, progress, video {
    object-fit: cover;
  }

  /* Swiper */
  .swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .swiper-notification{
    display: none;
  }

